<!-- app/views/users/show.html.erb -->
<div class="container mx-auto mt-8" style="width: 80%;">
  <div class="bg-white shadow-xl rounded-3xl p-8 relative">
    <div class="absolute top-4 right-4 flex space-x-4">
      <div class="text-center">
        <p class="text-xl font-bold"><%= @user.following_count %></p>
        <p class="text-gray-600">フォロー中</p>
      </div>
      <div class="text-center">
        <p class="text-xl font-bold"><%= @user.followers_count %></p>
        <p class="text-gray-600">フォロワー</p>
      </div>
    </div>
    <div class="flex items-center mb-6">
      <%= image_tag @user.avatar.url, alt: "Avatar", class: "w-24 h-24 rounded-full bg-gray-200 mr-4" %>
      <div>
        <h1 class="text-3xl font-bold"><%= @user.email %></h1>
        <p>登録日: <%= @user.created_at.strftime("%Y-%m-%d") %></p>
      </div>
    </div>
    <% if @user != current_user %>
      <% if current_user.following?(@user) %>
        <%= button_to 'フォロー中', relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'フォローする', relationships_path(followed_id: @user.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <h2 class="text-2xl font-semibold mb-4">過去の投稿</h2>
    <div class="space-y-4">
      <% @posts.each do |post| %>
        <div class="p-4 bg-gray-100 rounded-md shadow">
          <h3 class="text-xl font-bold"><%= post.title %></h3>
          <p class="text-gray-700"><%= truncate(post.body, length: 100) %></p>
          <p class="text-sm text-gray-500">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <%= link_to '編集', edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
