<h1 class="text-3xl font-bold mb-6 text-center">Edit Post</h1>
<div class="container mx-auto mt-8" style="width: 80%;">
  <%= form_with(model: @post, local: true, class: "space-y-4") do |form| %>
    <% if @post.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6">
        <strong class="font-bold"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</strong>
        <span class="block sm:inline"><%= @post.errors.full_messages.join(", ") %></span>
      </div>
    <% end %>
    <div>
      <%= form.label :title, class: "block text-gray-700" %>
      <%= form.text_field :title, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>
    <div>
      <%= form.label :body, class: "block text-gray-700" %>
      <%= form.text_area :body, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>
    <div class="text-center">
      <%= form.submit '投稿を更新する', class: "w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  <% end %>
</div>
